@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Hanken Grotesk", sans-serif;
  
  --color-primary-container: #002351;
  --color-secondary-brand: #ffb874;
  --color-on-background: #fbdfb2;
  --color-surface-container: #2b1d02;
  --color-surface-container-lowest: #160d00;
  --color-secondary-container: #db7f00;
  --color-on-surface-variant: #c4c6d0;
  --color-on-surface: #fbdfb2;
  --color-surface-variant: #423212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #002351;
  color: #fbdfb2;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

.geometric-ribbon {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuChQULNj1zk3xZlbT7cmPIEQhUU93M8SKxo5n4zGeFOLKePeZR1jwzEtyDzbF_GVkXtsMBixMPzcbugT70gcR6q9yTVbTpA8nkDfd1VU6vAbib3Cer3w7kxxD7kFDfP4TS96WR0bw2-hogziB-qdxUruJzCzaB0RE8XBU-tGmhJDbF61zvB4juVYpYV3uGBFZo0G1cl9G7DOKMHXyR3bhhuuaH_7pcirzVjT2h7GXUqQuPfvpUs6HXv_fcvvu_4AZLwzNxPEaCQuIF1');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  height: 160px;
}

.text-gradient {
  background: linear-gradient(135deg, #ffb874 0%, #e3d1a4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-geometric-border {
  border: 1px solid rgba(198, 173, 131, 0.2);
  position: relative;
}

.card-geometric-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffb874;
}

/* Custom scrollbar for horizontal timeline */
.timeline-scroll::-webkit-scrollbar {
  height: 6px;
}
.timeline-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
.timeline-scroll::-webkit-scrollbar-thumb {
  background: #ffb874;
  border-radius: 10px;
}

.video-placeholder-container {
  background: radial-gradient(circle at center, #00337a 0%, #002351 100%);
  border: 2px solid rgba(255, 184, 116, 0.3);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

